<style type="text/css">
  div#page {
          margin: 20px 80px;
  }
  div#side_image {
    float:left;
    margin-left: 40px;
    filter:alpha(opacity=08);-moz-opacity:.08;opacity:.08;
  }
</style>

<div id="page">

  <%= render :partial => 'both' %>

    <div id="side_image">
        <img src="/images/fuzzy_crowd.jpg"/>
    </div>

    <script type="text/javascript">
        $('login').focus();
    </script>
    

</div>
<div style="clear:left;"> </div>
<br/><br/>