body {
  font-family: arial, helvetica, sans-serif;
  background-color: #1b1bcc;
  background-image: url('/images/blueback.jpg');
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
}
div#page_content {
  background-color: #fff;
  border-top: solid 1px #000;
  border-left: solid 1px #000;
  border-bottom: solid 1px #050544;
  border-right: solid 1px #050544;
  position: relative;
}
div#shadow_1 {
  border-right: solid 2px #070766;
  border-bottom: solid 2px #070766;
}
div#shadow_2 {
  border-right: solid 1px #121299;
  border-bottom: solid 1px #121299;
}
div#shadow_3 {
  border-right: solid 1px #1919bb;
  border-bottom: solid 1px #1919bb;
  margin: 20px 5%;
}
p {
  margin: 16px 0px;
}

div#above_header_space {
  width: 100%;
  background-color: #D9E7FF;
  height: 4px;
}
div#below_header_space {
  width: 100%;
  background-color: #D9E7FF;
  height: 4px;
  border-bottom: 1px solid #C9D7F1;
}
div#header {
  width: 100%;
  font-size: 13px;
  line-height: 13px;
  height: 18px;
  background-color: #D9E7FF;
  vertical-align: middle;
}
div#tiny_logo {
  float: left;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 1px;
}
div#top_menu {
  float: left;
  margin-top: 3px;
}
div#header a {
}
nobr {
  margin-right: 15px;
}

.medium_heading {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 22.15px;
  color: #004060;
  background-color: #C9D7F1;
  padding: 2px 0px 2px 30px;
}

.notice {
  font-size: 12px;
  color: #aa8822;
}
.error {
  font-size: 12px;
  color: #FF7733;
}
.errorExplanation {
  font-size: 12px;
  color: #FF7733;
}
div#ajax_notifier {
  position: absolute;
  padding: 38px 18px;
  background-color: #fffff0;
  border: solid 1px #999;
  border-top: none;
  text-align: center;
  width: 680px;
  top: 0px;
  left: 50%;
  margin-left: -360px;
  font-size: 14px;
  font-weight: bold;
  color: #aaaa77;
  z-index: 100;
}
div#login_ajax_panel {
  position: absolute;
  width: 450px;
  height: 338px;
  top: 50%;
  left: 50%;
  margin-left: -225px;
  margin-top: -169px;
  background-color: #fff;
  z-index: 100;
}

div.fieldWithErrors input {
  background-color: #ff9080;
}