<style type="text/css">
  .ellipsis {
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow:hidden;
    -moz-binding: url('/stylesheets/ellipsis.xml#ellipsis');
  }
</style>
<div class="ellipsis" style="margin-left:0px;height:15px;width:150px;font-size: 12px;font-family: arial, helvetica, sans-serif;background-color:#aaaaff;">hello how are you doing today thsi is a really long string</div>
